.body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
}

.header-contacts {
  display: flex;
  gap: 40px;
}

.contacts {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-back/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-tittle {
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.button-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  align-self: center;
  margin: 0 auto;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.benefit-card {
  flex-basis: calc((100% - 72px) / 4);
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}

.benefit-tittle {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.benefits-list-text {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-our-team {
  flex-shrink: 0;
  background: var(--cloud, #f4f4fd);
}

.tittle-nonprimary {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.personal-card {
  flex-basis: calc((100% - 72px) / 4);
  background: var(--white, #fff);
  max-width: fit-content;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member {
  align-items: center;
  padding: 32px 0;
}

.team-names {
  text-align: center;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-image {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  row-gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  background: var(--WHITE, #fff);
  max-width: fit-content;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  inset: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: var(--IRIS, #4d5ae5);
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  border-top: none;
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.portfolio-tittle {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 8px;
}

.portfolio-description {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.footer {
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  padding: 100px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-desc {
  margin-right: 120px;
}

.logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-socials-text {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.social-link-f:hover,
.social-link-f:focus {
  background-color: #31d0aa;
}

.footer-email-tittle {
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: 80px;
}

.email-box {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}

.footer-email-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: transparent;
  padding: 8px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  /* Small Text */
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-email-input::placeholder {
  color: #fff;
}

.footer-email-input:focus {
  outline: none;
}

.footer-subscribe {
  display: flex;
  min-width: 165px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  /* Text */
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-subscribe:hover,
.footer-subscribe:focus {
  background-color: #404bbf;
}

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding: 8px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  height: 100%;
  min-height: 584px;
  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--CORNFLOWER, #e7e9fc);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.icon-modal-close {
  fill: #2e2f42;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover > .icon-modal-close,
.modal-close:focus > .icon-modal-close {
  fill: #ffffff;
}

.contact-form-tittle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-input:focus {
  border-color: var(--IRIS, #4d5ae5);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-pic {
  padding-left: 38px;
}

.modal-field-comments {
  margin-bottom: 16px;
}

.modal-textarea {
  min-height: 120px;
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding: 8px 16px;
  /* Small Text */
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-textarea:focus {
  border-color: var(--IRIS, #4d5ae5);
}

.modal-input-wrap {
  position: relative;
}

.modal-checkbox {
  display: flex;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.privacy-link {
  color: var(--IRIS, #4d5ae5);
  line-height: 16px;
  text-decoration-line: underline;
}

.checkbox-pic {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-label > .checkbox-pic {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
