@media screen and (min-width: 375px) {
  .container {
    max-width: 345px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-tittle {
    margin-bottom: 72px;
  }
  .benefits-list {
    row-gap: 72px;
  }
  .icon-box {
    display: none;
  }
  .team-list {
    row-gap: 72px;
  }
  .portfolio-text {
    border: 1px solid var(--CLOUD, #f4f4fd);
    background: var(--WHITE, #fff);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .footer-content {
    row-gap: 72px;
    justify-content: center;
    align-items: center;
  }
  .footer-desc {
    margin-right: 0;
  }
  .footer-socials {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
  .header-address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
  .logo-header {
    margin-right: 120px;
  }
  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu-toggle {
    display: none;
  }
  .hero-tittle {
    margin-bottom: 36px;
  }
  .benefit-card {
    flex-basis: calc((100% - 48px) / 2);
  }
  .team-list {
    row-gap: 64px;
  }
  .personal-card {
    flex-basis: calc((100% - 48px) / 2);
  }
  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }
  .footer-content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer-desc {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 24px;
  }
  .footer-socials {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-email-box {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .modal {
    max-width: 408px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .logo-header {
    margin-right: 76px;
  }
  .header-contacts {
    flex-direction: row;
    gap: 40px;
  }
  .hero-tittle {
    margin-bottom: 48px;
  }
  .benefit-tittle {
    font-size: 20px;
  }
  .icon-box {
    display: flex;
  }
  .benefit-card {
    flex-basis: calc((100% - 72px) / 4);
  }
  .personal-card {
    flex-basis: calc((100% - 72px) / 4);
  }
  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }
  .footer-content {
    align-items: baseline;
  }
  .footer-desc {
    margin-right: 120px;
  }
  .footer-socials {
    margin-right: 80px;
  }
}
